---
import footerSettings from '@settings/footer.json';
import { marked } from 'marked';

interface MenuItem {
  text: string;
  link: string;
}

interface SocialIcon {
  name: string;
  url: string;
  icon: string;
}

const menuItems: MenuItem[] = footerSettings?.menuItems || [];
const copyright: string = footerSettings?.copyright || '';
const socialIcons: SocialIcon[] = footerSettings?.socialIcons || [];

const parsedCopyright = await marked(copyright);
---

<footer class="footer footer-horizontal footer-center bg-base-200 text-base-content rounded p-10">
  <nav class="grid grid-flow-col gap-4">
    {menuItems.map((item) => (
      <a href={item.link} class="link link-hover">{item.text}</a>
    ))}
  </nav>
  <nav>
    <div class="grid grid-flow-col gap-4">
      {socialIcons.map((social) => (
        <a href={social.url} aria-label={social.name} class="w-6 h-6 fill-primary">
          <div class="w-6 h-6" set:html={social.icon} />
        </a>
      ))}
    </div>
  </nav>
  <aside class="prose max-w-none">
    <p set:html={parsedCopyright}></p>
  </aside>
</footer>
