---
import '@styles/global.css'
import Navbar from '@components/Navbar.astro'
import Footer from '@components/Footer.astro'
import { ClientRouter } from 'astro:transitions'

export interface Props {
  title: string
}

import branding from '@settings/branding.json'
import seo from '@settings/seo.json'

const { title } = Astro.props
---

<!doctype html>
<html lang="en" class="font-roboto scroll-smooth" data-theme={branding.site.theme}>
  <head>
    <meta charset=" UTF-8">
  <meta name="description" content="Astro description" />
  <meta name="viewport" content="width=device-width" />
  {branding.site.favicon && (
  <link rel="icon" href={branding.site.favicon} />
      )}

  <!-- SEO -->
  {seo.seo.title && <title>{seo.seo.title} | {title}</title>}
  {seo.seo.description && <meta name="description" content={seo.seo.description} />}
  {seo.seo.keywords && <meta name="keywords" content={seo.seo.keywords} />}
  {seo.seo.canonical && <link rel="canonical" href={seo.seo.canonical} />}
  
  <!-- Open Graph -->
  <meta property="og:title" content={seo.opengraph?.Title || title || seo.title} />
  {seo.opengraph?.Description && (
    <meta property="og:description" content={seo.opengraph.Description} />
  )}
  {seo.opengraph?.Image?.src && (
    <meta property="og:image" content={new URL(seo.opengraph.Image.src, Astro.url.origin)} />
  )}

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={seo.twitter?.Title || title || seo.title} />
  {seo.twitter?.Description && (
    <meta name="twitter:description" content={seo.twitter.Description} />
  )}
  {seo.twitter?.Image?.src && (
    <meta name="twitter:image" content={new URL(seo.twitter.Image.src, Astro.url.origin)} />
  )}
 
  <ClientRouter />

  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
